$c-not-active: #EFEFEF;
$c-icons: #BFC5D2;
$c-text: #2E384D;
$c-text-small: #9A9B9C;
$c-primary: #002B60;
$c-accent: #0052A4;
$c-hover: #00AEEF;
$c-border: #E4E8F0;
$c-hover-blue: #02407E;
$c-user-name: #637280;
$c-dark-gray: #4D4F53;
